<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <div v-if="isShow">
            <p>昵称：<input v-model="name"></p>
            <p>uid：<input v-model="uid"></p>
            <p>房间号：<input v-model="roomId"></p>
            <button @click="enter">进入聊天室</button>
        </div>
        <div v-else>
            <div class="ctrl">
                <input v-model="message" placeholder="输入您的消息">
                <button id="send" @click="send">发送</button>
                <button id="close" @click="close">关闭连接</button>
            </div>
            <ul>
                <li v-for="(item, index) in lists" :key="'message' + index">
                    {{item}}
                </li>
                <li>在线人数：{{num}}</li>
            </ul>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: '',
                lists: [],
                ws: {},
                isShow: true,
                name: '',
                uid: '',
                num: 0,
                roomId: '',
                handle: {},
            },
            methods: {
                init() {
                    this.ws = new WebSocket('ws://127.0.0.1:9000')
                    this.ws.onopen = this.onOpen;
                    this.ws.onmessage = this.onMessage;
                    this.ws.onclose = this.onClose;
                    this.ws.onerror = this.onError;
                },
                // 进入聊天室
                enter() {
                    if (this.name.trim() === '') {
                        alert('用户名不能为空')
                        return
                    }
                    this.init()
                    this.isShow = false
                },
                onOpen() {
                    console.log('open: ' + this.ws.readyState);
                    // ws.send('hello from client')
                    // 发起鉴权请求
                    // this.ws.send(JSON.stringify({
                    //     message: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6Imltb29jIiwiaWF0IjoxNTE2MjM5MDIyfQ.KQv-KO2KRPtFP1Hl9h3qyxiko8Czz_7vWVm-5JcyP7k',
                    //     event: 'auth'
                    // }))
                    this.ws.send(JSON.stringify({
                        event: 'enter',
                        message: this.name,
                        uid: this.uid,
                        roomId: this.roomId
                    }))
                },
                // 接收 server 端消息
                onMessage(event) {
                    // 当用户未进入聊天室，则不接收消息
                    if (this.isShow) {
                        return
                    }
                    var obj = JSON.parse(event.data)
                    switch (obj.event) {
                        case 'noAuth':
                            // 鉴权失败
                            // 路由跳转到 /login 重新获取token
                            alert('鉴权失败，请重新登录')
                            break;
                        case 'enter':
                            // 当一个新用户进入聊天室
                            this.lists.push('欢迎：' + obj.message + '加入聊天室！')
                            break
                        case 'out':
                            this.lists.push(obj.name + '已经退出聊天室')
                        case 'heartBeat':
                            // this.checkServer()
                            this.ws.send(JSON.stringify({
                                event: 'heartBeat',
                                message: 'pong'
                            }))
                            break
                        default:
                            if (this.name !== obj.name) {
                                // 接受正常的聊天
                                this.lists.push(obj.name + ': ' + obj.message)
                            }
                            break;
                    }
                    this.num = obj.num
                    console.log('message: ' + this.ws.readyState);
                    console.log(event.data)
                    // this.lists.push(event.data)
                },
                // 当连接主动断开的时候
                onClose() {
                    console.log('close: ' + this.ws.readyState);
                    console.log('已关闭websocket')
                    this.ws.close()
                },
                // 当连接失败，触发onError时间
                onError() {
                    console.log('error: ' + this.ws.readyState)
                    console.log('websocket连接失败')
                    // 连接失败后，1s进行断线重连
                    setTimeout(() => {
                        this.init()
                    }, 1000);
                },
                // 发送消息
                send() {
                    this.lists.push(this.name + ':' + this.message)
                    this.ws.send(JSON.stringify({
                        event: 'message',
                        message: this.message,
                        name: this.name
                    }))
                    this.message = ''
                },
                // 关闭连接
                close() {
                    this.ws.close()
                },
                // 心跳检测
                checkServer() {
                    clearTimeout(this.handle)
                    this.handle = setTimeout(() => {
                        this.onClose()
                        this.init()
                        // 设置1s的延时，调试在服务器测未及时响应时，客户端的反应
                    }, 30000 + 1000);
                }
            }
        })
    </script>
</body>

</html>